:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 11%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --Font: "Poppins", "sans-serif";
  }
  
  body{
    background-image: url(./images/bg-intro-desktop.png);
    background-color: #ff7a7a;
  }

  #leftSide {
    font-family: var(--Font);
  }
  
  #leftSide h1 {
    color: #f6ffff;
    font-weight: 850;
  }
  
  #leftSide p {
    color: #f7c5c5;
    font-weight: 650;
    text-align: justify;
    margin-right: 2rem;
  }
  
  #button {
    background-color: #6054a6;
    border-radius: 8px;
    margin-top:3rem ;
    -webkit-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.24);
    padding: 12px 20px 12px 26px;
  }
  
  #buttonForm{
    font-family: var(--Font);
  }
  
  #button p {
    text-align: center;
    font-size: 15px;
    padding: 24px 24px 24px 24px;
    vertical-align:middle ;
    display:contents;
  }
  
  #inputForm {
    padding-top: 35px;
    padding-bottom: 25px;
    height: 436px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.24);
  }
  
  #name{
      font-family: var(--Font);
      padding: 12px 20px 12px 26px;
      border: solid 1px gainsboro;
      margin-bottom: 1.8rem;
      border-radius: 6px; 
      font-weight:600;
      font-size:0.91em;
  }
  #lastName{
      font-family: var(--Font);
      padding: 12px 20px 12px 26px;
      border: solid 1px gainsboro;
      margin-bottom: 1.8rem;
      border-radius: 6px; 
      font-weight:600;
      font-size:0.91em;
  }
  #mail{
      font-family: var(--Font);
      
      padding: 12px 20px 12px 26px;
      border: solid 1px gainsboro;
      margin-bottom: 1.8rem;
      border-radius: 6px;
      font-weight:600;
      font-size:0.91em;
  }
  #password{
      font-family: var(--Font);
      padding: 12px 20px 12px 26px;
      border: solid 1px gainsboro;
      margin-bottom: 1.8rem;
      border-radius: 6px; 
      font-weight:600;
      font-size:0.91em;
      margin-right: 30%;
  }
  
  #buttonFree{
    background-color:#3ACC8B; 
    font-family: var(--Font); 
    color: #F6FFFF;
    font-weight:600;
    font-size:0.91em;
    padding: 12px 20px 12px 26px;
  }
  
  .termsText{
    transition: 2s ease 0.5s;
    margin-top: 4px;
    text-align: center;
    color:var(--Grayish-Blue);
    font-style: normal;
    min-width: 100%;
    font-weight: 10px;
    font-size:10px;
  }
  
  #lastOne{
    color: var(--Red);
  }

  @media screen and (min-width:100px) and (max-width: 768px){
    .main{
    background: url(./images/bg-intro-mobile.png);
    background-color: #ff7a7a;
    min-height: 100vh;
    }
    #leftSide{
      display: block;
      text-align: center ;
      padding-top: 5rem;
    }
    #inputForm{
      margin-bottom: 5rem;
    }
    #button{
      display: grid;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    #inputForm{
      display: flexbox;
      padding-top: 25px;
      padding-bottom: 10px;
      height: 436px;
      max-width: 86%;
    }
    #lastOne{
      display:grid;
      align-items: center;
      justify-content: center;
    }
    #buttonFree{
      display:grid ;
      max-width:100%;
    }
    #name{
      display:grid ;
      max-width:100%;
    }
    #lastName{
      display:grid ;
      max-width:100%;
    }
    #mail{
      display:grid ;
      max-width:100%;
    }
    #password{
      display:grid ;
      max-width:100%;
    }
    #leftSide p {
    margin-top:1.5rem;
    text-align:center;
    margin-left: 27px;
    margin-right: 27px;
  }
  }
